[Unit]
Description=Dashboard Service

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html/dashboard/
ExecStart=/var/www/html/dashboard/venv/bin/python /var/www/html/dashboard/dashboard.py

[Install]
WantedBy=multi-user.target

