[Unit]
Description=Switch Server Service

[Service]
User=root
Group=root
WorkingDirectory=/var/www/html/switch-server/
ExecStart=/var/www/html/dashboard/venv/bin/python/python /var/www/html/switch-server/server.py

[Install]
WantedBy=multi-user.target

